#neon-header {
    padding: 2rem;
    text-align: center;
    font-size: 10px;
  }
  
  .neon-text {
    font-size: 7em;
    margin: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-family: 'Monoto', cursive;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes neon1 {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff; }
    to { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff; }
  }
  