/* src/ProductDetails.css */

.product-details {
  padding: 30px; /* Reduce padding for a smaller box */
  background: linear-gradient(145deg, #155270, #e6e6e6);

  border-radius: 15px;
  box-shadow: 10px 10px 20px #a2a2a2, -10px -10px 20px #181717;

  max-width: 320px; /* Reduce max-width for a smaller box */
  margin: 30px auto; /* Adjust margin for better alignment */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
  width: 100%; /* Adjust to fit the parent container */
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px; /* Reduce space below the image */
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.product-image:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
p{
  font-family:cursive;
}

h1 {
  margin: 15px 0; /* Adjust margin for a more compact heading */
  color: #323538;
  font-size: 2em; /* Slightly smaller font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0; /* Reduce margin for more compact spacing */
  font-size: 1em; /* Standard font size */
  line-height: 1.6;
  color: #1c1c1c;
}

.product-details p span {
  font-weight: bold;
  color: #1d1f21;
}

.product-details p:not(:last-child) {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px; /* Reduce padding for a compact look */
  margin-bottom: 10px; /* Adjust margin for compact spacing */
}

.product-details button {
  padding: 10px 20px; /* Reduce padding for a smaller button */
  font-size: 1em; /* Standard font size */
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #48515a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 15px; /* Adjust margin for alignment */
}

.product-details button:hover {
  background-color: #5b6571;
  transform: scale(1.05);
}

.product-details button:active {
  transform: scale(0.98);
}
